body{
    margin: 0;
}

.marcador{
        width: max-content;
    height: 100px;
    background: black;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    padding: 30px;
}

.visitante{
    float: right;
}
.visitante h2{
       width: max-content;
    display: inline-block;
    margin-left: 20px;
}

.local{
    display: inline-block;
    margin-right: 120px;
}

.local h2{
        width: max-content;
    display: inline-block;
    margin-right: 20px;
}

.puntos{
display: inline-block;
font-size: 25px;
}

.puntos2{
    display: inline-block;
font-size: 25px;

}